<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.easymetrology">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mechicon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.easymetrology.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorsListActivity"
            android:parentActivityName="com.example.android.easymetrology.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
        <activity
            android:name=".ToolsActivity"
            android:parentActivityName="com.example.android.easymetrology.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
        <activity
            android:name=".ConvertersListActivity"
            android:parentActivityName="com.example.android.easymetrology.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
        <activity
            android:name=".LibraryListActivity"
            android:parentActivityName="com.example.android.easymetrology.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
        <activity
            android:name=".CalculateActivity"
            android:parentActivityName="com.example.android.easymetrology.CalculatorsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
        <activity
            android:name=".ConvertActivity"
            android:parentActivityName="com.example.android.easymetrology.ConvertersListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.easymetrology.MainActivity" />
        </activity>
    </application>

</manifest>
